version: '3.2'

networks:
  default:
    external:
      name: kelu

services:
  blog:
#    command: jekyll serve --incremental
    command: jekyll serve
    image: jekyll/jekyll:latest
    container_name: blog
    restart: always
    volumes:
      - ./:/srv/jekyll
      - ./_site:/srv/jekyll/_site
      - ./vendor/bundle:/usr/local/bundle
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      JEKYLL_UID: 0
      JEKYLL_GID: 0
    ports:
      - '4000:4000'
#      - '34001:35729'
#      - '34002:3000'
