<article>

        <div class="article_header">
            <p class="title1">{{ page.title }}</p>
        </div>
        <div class="article_index_contents">
            <div class="article_content"> 
		    {{ content }} 
	    </div>
        </div>
    </article>
   <article class="support-author">
     <br>
     <p>如果本文对你有帮助，欢迎投食</p>
     <div class="support-qr">
       <img src="https://cdn.kelu.org/blog/static/alipay.gif">
       <img src="https://cdn.kelu.org/blog/static/qpay.gif">
     </div>
     <div class="clear"></div>
   </article>

    <div class="post-nav">
        <a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="post-nav-prev">{{ page.previous.title }}</a>
        <a href="{{ page.next.url }}" title="{{ page.next.title }}" class="post-nav-next">{{ page.next.title }}</a>
        <div class="clear"></div>
    </div>

    <br>

<div class="comment" style='margin-top: 50px'></div>
    <script>
        new Valine({
            av: AV, 
            el: '.comment', // 
            notify: true, // 邮件提醒!!!
            verify: false, // 验证码
            app_id: 'QEPiv20R7mtcDF1XaTLhFpWi-gzGzoHsz', // 这里填写上面得到的APP ID
            app_key: '645dehEXS4HJPLk9axSQ9oCd', // 这里填写上面得到的APP KEY
            placeholder: 'YUKI.N > _' // [v1.0.7 new]留言框占位提示文字
        });
    </script>
